{% extends 'mailings/base.html' %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <h3>Хотите удалить запись из истории? от - {{ object.last_date }}</h3>
                    <button type="submit" class="btn btn-secondary">
                        Подтвердить
                    </button>
                    <a class="btn btn-success" href="{% url 'mailings:message_list' %}">
                        Отмена
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}