{% extends 'mailings/base.html' %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center col-10">
    <h1 class="display-4 fw-normal">{{ title_name|title }} Hello</h1>
    <p class="fs-5 text-muted">Список сообщений</p>
    <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailings:create_message' %}">Добавить сообщение</a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  col-10 mx-auto">
    {% for message in messages %}
    <div class="col">
        <div class="card shadow-sm" style="min-width: 304px;">
            <div class="card-body">
                <p class="card-text">Тема - {{ message.theme|title }}</p>
                <p class="card-text">Содержание - {{ message.body|title }}</p>
                <div class="">
                    <div class="">
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailings:message_detail' message.pk %}">Подробнее</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailings:message_update' message.pk %}">Редактировать</a>
                        {% if not perms.mailings.can_view_mailings or user.is_superuser %}
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailings:message_delete' message.pk %}">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}