{% extends 'mailings/base.html' %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="mb-3">Изменение пароля</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        Сменить
                    </button>
                </form>
                <p class="mt-3">На вашу почту будет отправлено письмо с новым паролем...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}